* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
    scrollbar-width: none;
    font-family: Open Sans, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-behavior:calc(10dvh - smooth);
}

body {
    font-family: bebas;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight:  400;
    font-style:normal;
    max-width: 100dvw;
}

/* LAYAOUT GENERAL */
.layaout {
    margin: auto;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-image: url(../img/fondo.jpg);
    background-size: 100dvh ;
    background-size:cover;
    background-position: top;
    display: flex;
    z-index: 1;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
}

.fondo {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
    z-index: 1;
}

/*CAPA OSCURA PARA LA IMAGEN DEL LAYAOUT*/

.layaout__header {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
}

/* CONTENIDOS DEL LAYAOUT*/

/* CONTENEDOR PRINCIPAL*/
.layaout__div {
    justify-content: space-between;
    flex-direction: column;
    display: inline-flex;
    position: relative;
    align-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;
    z-index: 4;
    height: 100dvh;
    width: 100dvw;
}

/* Sub-Contenedor principal */ 

.content{
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    flex-grow: 1;
}

.separador {
    flex-grow: 3;
    display: contents;
}

.titulo_Principal{
    margin-top: 10dvh;
    letter-spacing: 0.2dvw;
    font-size: calc(3dvh + 2dvw);
    font-family: "Bebas Neue", sans-serif;
}

.imagen_principal {
    border-radius: 50%;
    margin: auto;
    min-height: 14dvh;
    max-height: 49dvh;
    max-width: 80%;
    filter: drop-shadow( 0 0 10px #0000);
    transition: 0.4s;
}

.imagen_principal:hover{
    filter: drop-shadow( 0 0 5px #48e);
}

.texto_bienvenida {
    font-size: calc(2dvh + 1dvw);
    text-wrap: wrap;
    flex-grow: 1;
    font-family: "Bebas Neue", sans-serif;
}

/* Parte baja del layaout */
.gif {
    display: flex;
    flex-direction: column;
    margin-bottom: 2dvh;
}

.layaout__gif {
    width: 4vw;
    min-width: 30px;
    max-width: 60px;
    margin: auto;
}

.text__gif{
    font-size: small;
}

/*PARTE ANTERIOR LISTA  !NO TOCAR! */

/* BARRA DE NAVEGACION EN LA WEB*/

nav {
    background-color: #002975;
    color: rgb(255, 255, 255);
    display: inline-flex;
    width: 100dvw;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    font-weight: 600;
}

.lista {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100dvw;
}

nav li {
    margin: 2vh 1vw;
    padding: 2vh 2vw;
    transition: linear 0.1s;
    border-radius: 40px;
}

.logo {
    max-height: 50px;
}

.lista2 {
    margin: 0px 2vw;
    padding: 5px 10px;
    background-color: white;
    border-radius: 20px;
    transition: linear 0.1s;
}

.header {
    background-color: #1f2023;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    box-shadow: 0 -10px 15px -5px #d9d9d97c,0px 15px 15px -5px #48e;
}

.header__logo {
    max-width: 100%;
    width: 32px;
    margin: 10px 20px;
}

.header__logo-container{
    display: flex;
}

.header__text {
    margin: auto;
    color: #48e;
    font-family: Open Sans, Arial, sans-serif;
    font-weight: 700;
    container-name: headert;
}

@media screen and (max-width: 840px) {
    .header__text {
        display: none;
    }
}  

.header__nav-item {
    list-style: none;
}

.header__checkbox, .header__nav {
    display: none;
}

.header__open-nav-button{
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__nav {
    display: none;
    background-color: #1f2023;
    position: absolute;
    height: 115dvh;
    width: 100dvw;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__checkbox:checked ~ .header__nav {
    display: flex;
}

.inicio {
    display: none;
}

a {
    color: #48e;
    text-decoration: none;
}

.header__nav-item :is(:hover,:active) {
    text-decoration: underline;
}

.header__nav-item:is(:hover,:active) {
    box-shadow: 0 0 5px 2.5px #1f2023 ;
    background-color: white;
    color: #013596;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: underline;
}

.header__nav-item {
    margin: 0px 0.5dvw;
}



@container header (min-width: 850px) {
    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
        margin-right: 40px;
    }

    .header__open-nav-button {
        display: none;
    }

    .texto_bienvenida {
        font-size: 3.5dvw;
    }

    .titulo_Principal {
        font-size: 5dvw;
    }
}

/* Contenido Interno de la pagina web */

body {
    background-color: #ccccce;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.info h2 {
    text-align: center;
    margin: 300px 20px;
    display: flex;
    gap: 80px;
    flex-direction: column;
    color: black;
}

@media screen and (max-width: 650px) {
    .Inicio, .Vision, .Mision, .Dispositivos, .Nosotros {
        padding: 1dvh 2dvw;
        margin: 1dvw;
    }

    .logo, .lista2 {
        width: 50px;
        display: none;
    }
}

.info {
    container-name: info;
    container-type: inline-size;
}

.info__wrapper {
    min-height: 90dvh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF;
    max-width: 1400px;
}

.info__data-container {
    margin: 0 auto 3dvh auto;
    height: 100%;
    max-width: 600px;
    padding: 12px;
    text-wrap: balance;
    color: black;
}

.info__description {
    font-size: 2dvh;
    text-wrap: balance;
}

.info__description h3 {
    font-size: calc(3dvh + 2dvw);
    text-wrap: balance;
}

.info__img-container {
    max-height: initial;
    overflow: hidden;
}

.info__img {
    max-width: 50%;
    width: 768px;
    max-height: 60dvh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 30px;
}

.nosotros {
    color: #48e;
    transition: 0.3s linear;    
    border-radius: 5px;
    border-bottom: 2px solid #0000;
}

.nosotros:hover {
    border-bottom: 2px solid #48e;
}

.ws {
    font-size: 3dvh;
    font-style: italic;
    font-weight: 600;
    border-bottom: 2px solid #0000;
    transition: linear 0.2s;
}

.ws:hover {
    border-bottom: 2px solid #48e;
    color: #48e;
}
/*---------- info queries ----------*/

@container info (min-width:850px) {

    .info__wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        height: 90vh;
        max-width: 70dvw;
    }

    .info__data-container {
        max-width: 30dvw;
        background-color: #FFF;
        display: flex;
        align-items: center;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.803);
        margin: 0;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 0px;
        font-size: 4rem;
        text-wrap: balance;
    }

    .info__data {
        max-width: 700px;
    }

    .info__img-container {
        max-width: 40dvw;
        border-radius: 25px 0 0 25px;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.803);
    }

    .info__img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 100dvh;
        width: 40dvw;
        border-radius: 25px 0 0 25px;
    }

}

@container info (min-height:500px) {
    h3 {
        font-size: 2rem;
    }
    .info__data {
        max-height: 550px;
    }
}

/* MARCAS */

/*---------- Portafolio Section ----------*/

.dispositivos {
    box-shadow: 0px 0px 20px 8px #47a;
    background-color: #1f2023;
    color: white;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: dispositivos;
    container-type: inline-size;
}

.dispositivos__project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100dvw;
    margin: 0 auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 150dvh;
}

.dispositivos__title{
    margin: 2dvh auto;
}

.dispositivos__project {
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    border-radius: 10px;
}

.dispositivos__project:nth-child(1) {
    background-color: white;
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/samsung.png);
    order: 2;
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:nth-child(2) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/realme.png);
    order: 1;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fed400;
}

.dispositivos__project:nth-child(3) {
    background-image: linear-gradient(#0000, #000), url(../img/Dispositivos/poco.png);
    order: 3;
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
}

.dispositivos__project:nth-child(4) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/xiaomi.png);
    order: 4;
    background-size: 160%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:nth-child(5) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/oppo.png);
    order: 5;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:nth-child(6) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/honor.png) ;
    order: 6;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:nth-child(7) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/oneplus.png);
    order: 7;
    background-size: 160%;
    background-color: white;
    background-repeat: no-repeat;
}

.dispositivos__project:nth-child(8) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/motorola.png);
    order: 8;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:nth-child(9) {
    background-image: linear-gradient( #0000, #000), url(../img/Dispositivos/huawei.png);
    order: 9;
    background-size: 180%;
    background-repeat: no-repeat;
    background-color: white;
}

.dispositivos__project:hover {
    opacity: 0.80;
    outline: 1px solid #FFF6;
}

.dispositivos__title {
    font-size: calc(2dvh + 1.5dvw );
}

.dispositivos__subtitle {
    font-size: calc(1.5dvh + 1dvw );
    margin: 2dvh auto;
}

/* ---------- dispositivos QUERIES ---------- */

@container dispositivos (min-width: 840px) {
    .dispositivos__project-container {
        max-width: 70dvw;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .dispositivos__project:nth-child(1) {
        grid-column: span 1;
        background-position: top;
    }
    .dispositivos__project:nth-child(3) {
        grid-column: span 1;
        background-position: top;
        order: 3;
    }
    .dispositivos__project:nth-child(7) {
        grid-column: span 1;
        order: 7;
    }
    .dispositivos__project:nth-child(5) {
        grid-column: span 1;
        order: 5;
    }
}

@container dispositivos (max-width: 240px) {
    .dispositivos__project-container {
        grid-template-columns: 1fr;
    }
}

/*Mision y vision*/

.mision__vision {
    height: 100dvh;
    max-height: max-content;
}

.mision__vision__separator {
    margin: 5dvh auto;
    height: max-content;
    width: 75dvw;
    display: flex;
    flex-direction: row;
    gap: 5dvw;
}

.mision__vision__item {
    flex-grow: 1;
    height: 70dvh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color: #1f2023;
    justify-content: space-evenly;
    transition: linear 0.4s;
}

.mision__vision__item:hover {
    box-shadow: 0 0 10px 10px #0005;
}

.mision__vision__title {
    font-size:  calc(2dvh + 1.5dvw );
    color: #48e;
    font-style: italic;
    text-decoration: underline;
}

.mision__vision__text {
    margin: 0 3dvw;
    color:#ccccce;
    font-size:  calc(1.5dvh + 1dvw );
    text-wrap: balance;
}

@media screen and (max-width:840px) {
    .mision__vision__separator {
        flex-direction: column;
        width: 80dvw;
        max-height: 80dvh;
    }
}

.redes{
    border-radius: 25px;
    height: 10vh;
    margin: auto;
    width: 75vw;
    background-color: #1f2023;
    transition: linear 0.4s;
    display: flex;
    overflow: hidden;
}

.redes:hover {
    box-shadow: 0 0 10px 10px #48e;
}

.redes__text {
    margin: auto;
    color: white;
    text-wrap: wrap;
    overflow: hidden;
}

/*---------------Footer-------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100dvw;
    background-color: #1f2023;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #48e;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.logo__footer {
    max-width: 10dvw;
    min-width: 64px;
    filter: drop-shadow( 0 0 10px #0000);
    transition: 0.4s;
}

.logo__footer:hover {
    filter: drop-shadow( 0 0 5px #48e);
}

.redes2 {
    color: white;
    transition: linear 0.2s;
    letter-spacing: 2px;
}

.redes2:hover {
    border-bottom: 2px solid #48e;
    color: #48e;
}

.text-final, .box, .box-title {
    font-size: calc(1.5dvh + 0.7dvw);
}

@media screen and (max-width:840px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

    .box {
        max-width: 80dvw;
        margin: auto;
    }
}